table, td {
                /*border: 1px solid black;*/
                border-collapse: collapse;
                visibility:visible;
                background-color:#222;
                margin:0px;
                padding:0px;
            }

.style1 {
    background-image: url('shapes/1.png');
}

.style2 {
    background-image: url('shapes/2.png');
}

.style3 {
    background-image: url('shapes/3.png');
}
.style4 {
    background-image: url('shapes/4.png');
}