table, td {
                /*border: 1px solid black;*/
                border-collapse: collapse;
                visibility:visible;
                background-color:#222;
                margin:0px;
                padding:0px;
            }

.style1 {
    background-image: url('shapes/vd.png');
    width:20px;
    height:20px;
}

.style2 {
    background-color: #666;
}

.style3 {
    background-color: #f0f;
}
.style4 {
    background-color: #00f;
}